<section class="download-app-section container">
    <div class="left-side content-box">
        <div class="app-container">
            <h2 class="title-middle">Download App For <br> Exciting Deals</h2>
            <p class="text-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
                auctor eget
                sed
                phasellus senectus. Ut
                tellus donec vestibulum tristique leo bibendum in a, tincidunt.</p>
        </div>
        <div class="btn-container">
            <a class="btn-app-download">
                <svg class="btn-icon">
                    <use xlink:href="./images/sprite.svg#icon-google">
                    </use>
                </svg>GET IT ON <br><span class="text-btn-bold"> Google Play</span></a>
            <a class="btn-app-download">
                <svg class="btn-icon">
                    <use xlink:href="./images/sprite.svg#icon-apple">
                    </use>
                </svg>Download On The <br> <span class="text-btn-bold"> App Store</span> </a>
        </div>
    </div>
    <div class="right-side content-box">
      
        <div class="bg-dots">
            <!-- <span class="dots"></span> -->
            <!-- <svg class="dots">
    <use xlink:href="./images/sprite.svg#icon-gray-dots" alt="">
</use>-->
        </div>
        <div class="salad-container">
            <picture>
                <source srcset="./images/desktop/dowlApp3-min.png 1x,
                    ./images/desktop/dowlApp3@2x-min.png 2x" media="(min-width: 1920px)" />
                <source srcset="./images/tablet/dowlApp3.png 1x,
            ./images/tablet/dowlApp3@2x.png 2x" media="(min-width: 1195px)" /> 
                <source srcset="./images/phone/dowlApp3-min.png 1x,
            ./images/phone/dowlApp3@2x-min.png 2x" media="(min-width: 554px)" /> 
     
                <img src="./images/desktop/dowlApp3-min.png" alt="salad">
            </picture>
        </div>
        <div class="phone-container">
            <picture>
                <source srcset="./images/desktop/dowlApp1-min.png 1x,
                    ./images/desktop/dowlApp1@2x-min.png 2x" media="(min-width: 1920px)" />
                <source srcset="./images/tablet/dowlApp1.png 1x,
                                    ./images/tablet/dowlApp1@2x.png 2x" media="(min-width: 1195px)" />
                <source srcset="./images/phone/dowlApp1-min.png 1x,
                                    ./images/phone/dowlApp1@2x-min.png 2x" media="(min-width: 554px)" />
                    <img src="./images/desktop/dowlApp1-min.png" alt="phone">
            
                </picture>
        </div>
        <div class="phone-pic-container">
            <picture>
                <source srcset="./images/desktop/dowlApp2-min.png 1x,
                        ./images/desktop/dowlApp2@2x-min.png 2x" media="(min-width: 1920px)" />
                <source srcset="./images/tablet/dowlApp2.png 1x,
                                        ./images/tablet/dowlApp2@2x.png 2x" media="(min-width: 1195px)" />
                        <source srcset="./images/phone/dowlApp2-min.png 1x,
                                                ./images/phone/dowlApp2@2x-min.png 2x" media="(min-width: 554px)" />
                                        <img src="./images/desktop/dowlApp2-min.png" alt="phone top">
            </picture>
        </div>


    </div>

</section>