<section class="restaurants">
    <div class="container">
        <h2 class="section-title">Some top restaurant for dining in or Take away!</h2>
        <p class="section-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut
        tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac magna accumsan. Nascetur
        ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
        auctor eget sed.</p>
        <ul class="restaurant-menu">
            <li class="restaurant-item">
                <picture>
                    <source srcset="./images/phone/someTop1-min.png 1x, ./images/phone/someTop1@2x-min.png 2x" media="(max-width: 1194px)">
                    <source srcset="./images/tablet/someTop1.png 1x, ./images/tablet/someTop1@2x.png 2x" media="(min-width: 1195px)">
                    <source srcset="./images/desktop/someTop1-min.png 1x, ./images/desktop/someTop1@2x-min.png 2x" media="(min-width: 1920px)">
                </picture>
                <div class="restaurant-info">
                    <h3 class="restaurant-info__title">Fire Water</h3>
                    <p class="restaurant-info__text">We are all about we are all about to the fullest and all content dining out or in!dining out or in!</p>
                    <span class="restaurant-info__name">New Market</span>
                    <button class="restaurant-info__btn" type="button">Book Now</button>
                </div>
            </li>
            <li class="restaurant-item">
                <picture>
                    <source srcset="./images/phone/someTop2-min.png 1x, ./images/phone/someTop2@2x-min.png 2x" media="(max-width: 1194px)">
                    <source srcset="./images/tablet/someTop2.png 1x, ./images/tablet/someTop2@2x.png 2x" media="(min-width: 1195px)">
                    <source srcset="./images/desktop/someTop2-min.png 1x, ./images/desktop/someTop2@2x-min.png 2x" media="(min-width: 1920px)">
                </picture>
                <div class="restaurant-info">
                    <h3 class="restaurant-info__title">The Wonton</h3>
                    <p class="restaurant-info__text">We are all about we are all about to the fullest and all content dining out or in!dining out or in!</p>
                    <span class="restaurant-info__name">Saheb Bazar</span>
                    <button class="restaurant-info__btn" type="button">Book Now</button>
                </div>
            </li>
        </ul>
        <a class="see-more-link" href="" target="_blank" rel="noopener noreferer">
            <svg class="see-more-link-svg">
                <use href="./images/sprite.svg#instagram-icon"></use>
            </svg>
            See More
        </a>
    </div>
</section>